@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*:focus {
    outline: none;
}

body{
    font-family: "Quicksand";
    background: rgb(45,45,140);
    background: radial-gradient(circle, rgba(45,45,140,1) 46%, rgba(5,49,51,1) 100%);
}

